@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CBSE</h1>
    <h2>School Management System</h2>


<div>
    <a class="nav-link text-dark btn-primary font-weight-bold" style="position:relative; margin: 10px; background-color: lightgreen;float:left" asp-area="" asp-controller="Staff" asp- asp-action="LogIn">Administrator</a>
<a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: lemonchiffon; float:right" asp-area="" asp-controller="Staff" asp- asp-action="LogIn">Principal</a>
<a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: lavenderblush; float:right" asp-area="" asp-controller="Staff" asp- asp-action="LogIn">VicePrincipal</a>         
</div>
</div>>
